body {
    background: #f7f7f7;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    border-radius: 50px;
    border: 1px solid #505050;
    width: 100px;
    height: 100px;
}
#title, .subtitle, .post_title {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #505050;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}

.post {
    background: white;
    padding: 10px 10px 5px 0px; /*superior direita inferior esquerda*/
    border: 3px solid #505050;
    border-top-width: 3px;
    margin-bottom: 15px;
    border-radius: 5px 10px;
}

.post_content {
    margin: 0px;
    margin-bottom: 15px;
    text-transform: capitalize; /*as primeiras letras em maiúsculo*/
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list {
    list-style-type: none;
    padding-left: 1px;
}

.contacts_list li a { /*vai modificar somente os atributos dentro dessa cascata ("a" que está dentro de "li" que está dentro de "contacts_list"*/ 
    text-decoration: underline;
    color: blue;
}